@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.carousel-wrapper {
  width: 100%;
  padding: 40px 0;
  background: linear-gradient(to bottom, #fff7ed, #ffedd5); /* optional gradient */
}

.owl-carousel .card-item {
  height: 280px;
  min-width: 240px;
  background-color: white;
  color: black;
  font-size: 24px;
  font-weight: 600;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.7s, opacity 0.7s;
  opacity: 0.4;
}

.owl-carousel .owl-item.center .card-item {
  transform: scale(1.3);
  opacity: 1;
  z-index: 1;
}
a {
    color: inherit !important;
    text-decoration: inherit !important;
}


